
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.placeholder-color{
  color: #e0e0e0;
  font-weight:300;
  }

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-brightness {
  filter: brightness(150%);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-invert {
  filter: invert(100%);
}
